<div class="home-container">
    <div class="sidebar m-none">
        <h1 class="title">3D<br>Visu<br>Austria</h1>
    </div>
    <div class="content">
        <div class="mobile-titel"><h1 class="title">Open<br>Data<br>Österreich 3D</h1></div>
        <div class="search-bar">
            <!-- <input type="text" [(ngModel)]="searchTerm" id="searchTerm"> -->
            <input type="text" (keydown.enter)="search()" [(ngModel)]="searchTerm" id="searchTerm">
            <button (click)="search()"><img src="assets/img/lupe.png"></button>
        </div>
        <div class="row-container">
            <div id="container"></div>
            <div id="menu" class="hide">
                <button id="table">TABLE</button>
                <button id="sphere">SPHERE</button>
                <button id="helix">HELIX</button>
                <button id="grid">GRID</button>
            </div>
            <div id="loader" class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="error" class="hide">
                <h2 class="glitch">
                    <span aria-hidden="true">Error</span>
                    Error
                    <span aria-hidden="true">Error</span>
                </h2>
            </div>
        </div>
    </div>
</div>