.home-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
h1 {
    color: #f0f0f0;
    font-size: 50px;
    font-weight: 100;
    line-height: 1.1;
}
h2 {
    color: #f0f0f0;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}
.sidebar {
    min-width: 20em;
    background: #222222;
    padding: 5em 2em 0 2em;
}
.sidebar h1 {
    position: fixed;
}
.mobile-titel {
    display: none;
    width: 23em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.row-container {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.content{
    padding: 7em 5em 5em 5em;
    background: #111;
    flex-grow: 1;
}
.card {
    margin: 10px;
    width: 20em;
    cursor: pointer;
    border: 1px solid #00000000;
}
.card:hover{
    border: 1px solid #ffffff;
}
.red {
    background-color: #b00020;
}
.blue {
    background-color: #007acc;
}
.police-blue {
    background-color: #022157;
}
.badegewaesser {
    background-color: #2B5B80;
}
.virus-image {
    background-image: url("src/assets/img/virus-icon.png");
    background-size: cover;
}
.impfung-image {
    background-image: url("src/assets/img/impfung-icon.png");
    background-size: cover;
}
.police-image {
    background-image: url("src/assets/img/police-icon.png");
    background-size: cover;
}
.badegewaesser-image {
    background-image: url("src/assets/img/badegewaesser-icon.png");
    background-size: cover;
}
ul{
    margin-left: 1.5em;
}
@media (max-width: 1199.98px) { 
    .sidebar {
        display: none;
    }
    .mobile-titel{
        display: block;
    }
    .content{
        padding: 3em 2em 5em 2em;
    }
    .row-container {
        align-items: center;
        margin-left: auto;
        margin-right:auto;
    }
    .row {
        justify-content: center;
    }
}
/*
.mat-card-avatar{
    border-radius: 0;
}

.mobile-title{
    display: none;
}
@media only screen and (max-width: 900px) {
    .sidenav {
      display: none;
    }
    .content{
        padding: 3em 2em 5em 2em;
    }
    .card{
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-title{
        width: 23em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        display: block;
    }
  }*/