#info-box{
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    min-width: 5em;
    top: 500px;
    left: 1400px;
}
#info-text{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
}
#show-all-button {
    background-color: #222222;
    position: absolute;
    left: 1em;
    bottom: 1em;
}
.white-icon svg {
    fill: white;
}
.white-icon {
    color: #d0d0d0;
}
.hide {
    display: none;
}