.home-button {
    background-color: #222222;
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 150;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.home-button p {
    color: rgb(161, 161, 161);
    font-size: 12pt;
    margin-bottom: 0;
}