.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.visual-style {
  top: 5px;
  position: absolute;
  left: 50%;
}
.cdk-column-name {
  padding-right: 5px;
}
.btn-container {
  position: relative;
  left: -50%;
}
.visual-btn {
  width: 90px;
}
#visual-map {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#visual-particle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.visual-btn.active {
  background-color: rgb(34, 34, 34);
}

@media (max-width: 767.98px) { 
  .right {
    display: none;
  }
  .visual-style {
    bottom: 0;
  }
}
.right {
  right: 0;
}
.full{
  height: calc(100vh - 80px);
  overflow: scroll;
}
.mat-table {
  background: unset!important;
  width: 280px;
  margin-bottom: 80px;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-headers-align {
    position: absolute;
    margin-top: 0em;
    margin-left: 0em;
    z-index: 1;
}
.mat-expansion-panel{
  background-color: #222222;
  height: 100%;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #00FF00;
}

mat-slider {
  width: 300px;
}
mat-form-field{
  width: 300px;
}
.home-button {
  background-color: #222222;
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 50;
}
.white-icon {
  color: #d0d0d0;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.example-radio-button {
  margin: 5px;
}

.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  background-color: rgb(34, 34, 34);
}