<app-renderer></app-renderer>
<div *ngIf="visual_periodic">
    <app-renderer-periodic></app-renderer-periodic>
</div>
<mat-accordion class="example-headers-align right" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>menu</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Übersicht
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="full">
        
        <table mat-table [dataSource]="getStaticList()" (matSortChange)="sortData($event)" matSort matSortActive="count" matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Gebiet </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Wert </th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<a href="/">
    <button mat-fab class="home-button">
        <mat-icon class="white-icon">home</mat-icon>
    </button>
</a>
<div class="visual-style">
    <div class="btn-container">
        <button mat-flat-button class="visual-btn" id="visual-map" (click)="loadMap()" [disabled]="visual_map">Map</button>
        <button mat-flat-button class="visual-btn" id="visual-particle" (click)="loadParticle()" [disabled]="visual_particle">Particle</button>
        <button mat-flat-button class="visual-btn" id="visual-periodic" (click)="loadPeriodic()" [disabled]="visual_periodic">Periodic</button>
    </div>
</div>
